<%- include('./partials/header.ejs') %>

    <h1 class="heading text-7xl absolute inset-x-0 top-12 text-center"> Bee-Social.</h1>

  <div class="w-full h-screen bg-center bg-cover bg-[url('https://images.unsplash.com/photo-1552083375-1447ce886485?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGFuZCUyMHNjYXBlfGVufDB8fDB8fHww')] flex items-center justify-center">

        <div class="w-80 h-[46vh] bg-zinc-100 px-5 py-5 rounded-[24px] container">
            <h1 class="text-2xl capitalize text-center font-semibold ">Welcome Back.</h1>
            <br>
            <form action="/login" method="post">
              <input class="border-2 rounded-md w-full px-1 py-1" type="text" name="username" placeholder="username">
              <br>
              <br>
              <input class="border-2 rounded-md w-full px-1 py-1 mb-3" type="password" name="password" placeholder="password">
              <br>
              <a class="text-[12px] font-semibold py-4 text-blue-400" href="#">Forgot Password ?</a>
              <br>
              <input class="btn border-2 w-full bg-blue-300 px-2 py-1 mt-3 rounded-full" type="submit" value="Login">
            </form>
            <br>
            <hr>
            <a class="w-full inline-block mt-3.5 text-sm font-semibold text-zinc-700 text-center" href="/register">Don't have an Account?</a>
          </div>
  </div>

<%- include('./partials/footer.ejs') %>