*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

.container{
  box-shadow: 5px 8px 40px black ;
}

.heading{
  text-shadow: 5px 10px 20px rgb(120, 205, 0);
}

.caption{
  display: flex;
    flex-direction: column;
}

textarea {
  background-color: #19191b; /* Zinc-800 color */
  color: white; /* Text color */
  border: 2px solid #374151; /* Border color */
  border-radius: 0.375rem; /* Rounded corners */
  padding: 0.75rem; /* Padding */
  resize: none; /* Disable resizing */
}

.btn:hover{
  background-color: rgb(108, 172, 246);
}

.navbar{
  height: 120px;
  width:  100%;
}

.home-container{
  background-color: rgb(0, 0, 0);
}


.post-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  gap: 47px;
  margin-left: 100px;
}

